:host {
    display: block
    padding: 3px 5px
    margin-bottom: 1px

    color: #999
    background: #222

    &(:nth-child(even)) {
        background: #292929
    }

    &([selected]) {
        background: rgb(0,85,153)
    }

    &(:hover) {
        background: #222 + 10%
    }

    &(:hover[selected]) {
        background: rgb(0,85,153) + 10%
    }

    img {
        display: none
        height: 12px
        vertical-align: text-top
    }

    &([icon]) {
        img {
            display: inline-block
        }
    }
}
