color-outter-border = black
color-outter-border-focus = #0c70a6
color-inner-border = #555
color-bg = #474747
color-text = #aaa

:host {
    display: flex
    position: relative

    box-sizing: border-box
    font-size: 12px
    width: 120px
    min-width: 60px
    border: 1px solid color-outter-border

    #focus:focus {
        outline: none
    }

    &(:hover) {
        border-color: color-outter-border + 10%

        .border {
            background-color: color-bg + 10%
            border-color: color-inner-border + 10%

            i {
                opacity: 1.0
            }
        }
    }

    &([focused]) {
        border-color: color-outter-border-focus
        .border {
            border-color: #171717
        }
    }

    .border {
        position: relative
        border: 1px solid color-inner-border
        width: 100%

        padding: 3px 4px
        font-family: Helvetica,Arial,sans-serif
        color: color-text

        background-color: color-bg

        cursor: pointer
        & * {
            cursor: pointer
        }

        i {
            margin-top: 2px

            opacity: 0.5
        }
    }

    .text {
        overflow-x: hidden
        margin-right: 5px
    }
}

:host-context([disabled]), :host([disabled]) {
    * {
        pointer-events: none
    }

    .border {
        background-color: color-bg - 20%
        color: color-text - 50%
    }
}
