size = 11px
blank-size = -4px

:host {
    flex: 0 0 size
    position: relative

    z-index: 2

    // horizontal resizer
    margin-top: blank-size
    margin-bottom: blank-size
    margin-left: 0px
    margin-right: 0px
    width: auto
    height: size

    &([vertical]) {
        margin-top: 0px
        margin-bottom: 0px
        margin-left: blank-size
        margin-right: blank-size
        width: size
        height: auto
    }

    &(:hover) {
        cursor: row-resize
        .bar {
            cursor: row-resize
        }
    }

    &([vertical]:hover) {
        cursor: col-resize
        .bar {
            cursor: col-resize
        }
    }

    &(.platform-win:hover) {
        cursor: ns-resize
        .bar {
            cursor: ns-resize
        }
    }

    &(.platform-win[vertical]:hover) {
        cursor: ew-resize
        .bar {
            cursor: ew-resize
        }
    }
}
