:host {
    display: flex
    flex-direction: column
    flex-wrap: nowrap     
    align-items: stretch
    position: relative

    box-sizing: border-box
    min-width: 200px
    min-height: 200px
    font-size: 12px

    font-family: Helvetica,Arial,sans-serif
    color: #ddd

    .content {
        position: relative
        box-sizing: border-box
        border: 1px solid #212121

        overflow: hidden
        background: #444

        .border {
            box-sizing: border-box
            border: 1px solid rgba(255, 255, 255, 0.08)
            border-top: 1px solid rgba(255, 255, 255, 0.2)
        }
    }
}
