:host {
    position: relative
    box-sizing: border-box;

    display: flex
    flex-wrap: nowrap     
    align-items: stretch
    flex-direction: column

    &([row]) {
        flex-direction: row
    }

    white-space: nowrap
    overflow: hidden

    font-size: 12px
    font-family: Helvetica,Arial,sans-serif

    color: #ddd
}
