:host {
    display: inline-block
    font-size: 12px
    white-space: nowrap
    position: relative

    min-width: 200px
    min-height: 200px
    overflow: hidden

    font-family: Helvetica,Arial,sans-serif
    color: #ddd
}
