color-box-bg = #232323
color-box-bg-disabled = #525252
color-border-normal = #888
color-border-focus = #0c70a6
color-checked = #0c90e6

:host {
    display: inline-block

    .box {
        box-sizing: border-box
        width: 13px
        height: 13px
        border: 1px solid color-border-normal

        background: color-box-bg
        cursor: pointer

        &:hover {
            border-color: color-border-normal + 50%
        }

        &:focus {
            outline: none
        }

        i {
            font-size: 11px

            color: color-checked
            cursor: inherit

            &.hidden {
                visibility: hidden
            }
        }
    }

    &([focused]) .box {
        border-color: color-border-focus
    }
}

:host-context([disabled]), :host([disabled]) {
    * {
        pointer-events: none
    }

    .box {
        cursor: auto
        border: 1px solid color-border-normal - 30%
        background: color-box-bg-disabled
        i {
            color: color-box-bg-disabled + 20%
        }
    }
}
