color-border = #555
color-button-bg = #444
color-active = #00aaff

:host {
    display: inline-block
    box-sizing: border-box
    font-size: 10px
    border-left: 1px solid color-border

    color: #aaa

    .vertical-center {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .border {
        display: inline-block
        box-sizing: border-box
        height: 22px 

        padding: 4px 8px
        background-color: color-button-bg
        overflow: hidden

        &:hover {
            background-color: color-button-bg + 20%
        }
    }

    &([active]) {
        .border {
            background-color: color-button-bg - 40%
            color: color-active
        }
    }

    &(:active) {
        .border {
            background-color: color-button-bg - 40%
        }
    }

    &(:first-child) {
        border-left: 0px
        border-top-left-radius: 2px
        border-bottom-left-radius: 2px
    }

    &(:last-child) {
        border-top-right-radius: 2px
        border-bottom-right-radius: 2px
    }
}

:host-context([disabled]) {
    * {
        pointer-events: none
    }

    .border {
        background-color: color-button-bg - 20%
        color: #aaa - 50%
    }
}
