:host {
    display: inline-block

    span.space {
        width: 5px
        height: 5px
        display: block
    }
}

:host-context([disabled]), :host([disabled]) {
    * {
        pointer-events: none
    }
}
