:host {
    display: flex
    flex-direction: row
    flex-wrap: nowrap     
    align-items: stretch

    box-sizing: border-box
    font-size: 12px

    border-top: 1px solid #212121
    height: 20px

    color: #aaa

    .border {
        display: inline-block
        box-sizing: border-box
        border-left: 1px solid rgba(255, 255, 255, 0.08)
        border-right: 1px solid rgba(255, 255, 255, 0.08)
        border-top: 1px solid rgba(255, 255, 255, 0.2)
        height: 19px

        padding: 3px 8px
        background-color: #333

        &:hover {
            transition: background-color .3s ease
            background-color: #333 + 5%
        }
    }

    &(.active) {
        border-top: 1px solid #212121
        height: 22px

        .border {
            // border-top: 1px solid rgba(255, 255, 255, 0.2)
            border-top: 1px solid rgba(12,112,200,1.0)
            height: 21px
            background-color: #444
        }

        span.left-tab-border {
            display: none
        }
        span.right-tab-border {
            display: none
        }
    }

    span.left-tab-border {
        // display: inline-block
        // border-left: 1px solid #212121
        // height: 20px
        display: none
    }
    span.right-tab-border {
        display: inline-block
        border-left: 1px solid #212121
        height: 20px
    }

    &(:first-child) span.left-tab-border {
        display: inline-block
        border-left: 1px solid #212121
        height: 22px
    }

    &(:last-child) span.right-tab-border {
        display: inline-block
        border-left: 1px solid #212121
        height: 20px
    }
}
