color-outter-border = #555
color-outter-border-focus = #0c70a6
color-inner-border = black
color-bg = #232323
rgbHeight = 16px

:host {
    display: flex
    position: relative

    box-sizing: border-box
    width: 120px
    min-width: 60px
    border: 1px solid color-outter-border

    background: color-bg

    &(:hover) {
        border: 1px solid color-outter-border + 30%
    }

    &([focused]) {
        border: 1px solid color-outter-border-focus
    }

    .border {
        position: relative
        border: 1px solid color-inner-border
        width: 100%

        &:focus {
            outline: none
        }
    }

    .rgb-wrapper {
        position: relative
        display: block
        height: rgbHeight

        background-image: url('../img/transparent-bg.png')

        .rgb {
            cursor: pointer 
            background-color: white
        }

        i {
            font-size: 8px
            position: absolute
            right: 2px
            bottom: 2px

            cursor: pointer 
            color: black
        }
    }

    .alpha {
        display: block
        height: 3px
        background: transparent
        background-color: white

        cursor: pointer 
    }

    // TODO: DELME!
    .color-pciker-wrapper {
        duration = .2s

        position: absolute
        padding: 10px
        top: 25px
        right: 0px

        z-index: 11
        outline: 1px solid #222
        color: #bdbdbd
        background-color: #474747
        box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1)

        transition: opacity duration ease

        &.hide {
            visibility: hidden
            opacity: 0.0
            transition: 
                visibility 0s ease duration, 
                opacity duration ease
        }
    }

    .mask {
        display: none

        background-image: url('../img/transparent-bg.png')
        opacity: 0.8
    }
}

color-bg-disabled = #3a3a3a

:host-context([disabled]), :host([disabled]) {
    * {
        pointer-events: none
    }

    background: color-bg-disabled

    .mask {
        display: block
    }
}
