html /deep/ {
    fire-ui-ti>fire-ui-ti {
        margin-left: 12px
    }

    fire-ui-tree[focused] fire-ui-ti[selected]::shadow #bar {
        background-color: #059
    }

    fire-ui-ti::shadow fire-ui-text-input {
        position: absolute
        left: 9px
        top: -1px
        height: 18px
        width: calc(100% - 9px)

        &[icon] {
            left: 27px
            width: calc(100% - 27px)
        }

        &::shadow .input-area {
            padding: 0px 1px
        }
    }
}
