color-border = #1f1f1f
color-border-focus = #0c70a6
color-title-bg = #242424
color-title = #b1b1b1
color-title-focus = #00a6ff
color-body-bg = #333
color-body-top-line = #555

:host {
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: stretch

    box-sizing: border-box
    border: 1px solid color-border
}

.title {
    padding: 3px 2px 3px 4px
    font-size: 12px
    font-weight: 700

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    color: color-title
    background: color-title-bg
    cursor: pointer

    &:focus {
        outline: none
    }
}

:host([focused]) .title {
    color: color-title-focus
}

i.fa {
    display: inline-block
    font-size: 14px
    width: 10px
    margin-right: 5px

    text-align: center
    cursor: pointer
}

.close-btn {
    position: absolute
    right: 5px
    color: #555

    &:hover {
        color: #900
    }

    &:active {
        color: #555
    }
}

.body {
    display: block
    position: relative
    padding: 0px 2px 0px 4px
    min-height: 10px
    border-top: 1px solid color-body-top-line

    background-color: color-body-bg

    &.hidden {
        display: none
    }
}

:host-context([disabled]), :host([disabled]) {
    * {
        pointer-events: none
    }

    border-color: color-border + 3%

    .title {
        color: color-title - 50%
        background: color-title-bg + 3%
    }

    .body {
        border-top-color: color-body-top-line - 20%
    }
}
