color-outter-border = #171717
color-outter-border-focus = #0c70a6
color-inner-border = black
color-bg = #373737
color-bg-selected = #2865c7
color-text = #aaa

:host {
    display: flex
    position: relative

    box-sizing: border-box
    font-size: 12px
    width: 120px
    min-width: 60px

    &(:focus) {
        outline: none
    }

    .border {
        position: relative
        box-sizing: border-box
        padding: 4px
        width: 100%
        max-height: 200px
        overflow-y: auto

        font-family: Helvetica,Arial,sans-serif
        color: color-text
        background-color: color-bg
        opacity: 1.0

        .item {
            padding: 3px 7px

            &.selected {
                background-color: color-bg-selected

                &:hover {
                    background-color: color-bg-selected + 20%
                }
            }

            &:hover {
                background-color: color-bg + 10%
            }
        }
    }

    // by default options show below fire-ui-select
    border-top: 0px
    border-left: 1px solid color-outter-border-focus
    border-right: 1px solid color-outter-border-focus
    border-bottom: 1px solid color-outter-border-focus

    .border {
        border-top: 0px
        border-left: 1px solid color-inner-border
        border-right: 1px solid color-inner-border
        border-bottom: 1px solid color-inner-border
    }

    &([above]) {
        border-top: 1px solid color-outter-border-focus
        border-left: 1px solid color-outter-border-focus
        border-right: 1px solid color-outter-border-focus
        border-bottom: 0px

        .border {
            border-top: 1px solid color-inner-border
            border-left: 1px solid color-inner-border
            border-right: 1px solid color-inner-border
            border-bottom: 0px
        }
    }
}
