:host {
    @import "common"

    display: block

    &>#focus {
        display: flex
        flex-direction: row
        flex-wrap: nowrap     
        align-items: center

        margin-top: 5px
        margin-bottom: 5px
        min-height: 22px

        span.space {
            width: 5px
            height: 5px
            display: block
        }
    }

    .flex-self-start {
        margin-top: 5px
    }
}
