:host {
    display: block

    &>#focus {
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        align-items: center

        margin-top: 5px
        margin-bottom: 5px
        min-height: 22px

        span.space {
            width: 5px
            height: 5px
            display: block
        }

        .fold-icon {
            display: inline-block
            font-size: 14px
            width: 10px
            margin-right: 5px

            visibility: hidden
            cursor: pointer
            text-align: center
        }
    }

    .flex-self-start {
        margin-top: 5px
    }
}

:host-context([disabled]), :host([disabled]) {
    * {
        pointer-events: none
    }
}
