color-text = #aaa
color-bg = #474747

:host {
    position: relative

    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center

    padding: 2px

    font-size: 12px
    white-space: nowrap

    overflow: hidden
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    color: color-text
    background-color: color-bg
}

:host-context([disabled]), :host([disabled]) {
    * {
        pointer-events: none
    }

    color: color-text - 50%
}
