:host {
    display: block

    font-size: 12px
    margin-left: 0px // NOTE: will be setup in editor.styl
    padding-top: 1px

    .wrapper {

        .bar {
            display: block
            position: absolute
            left: 0
            width: 100%
            height: 16px

            visibility: none
        }

        .input-wrapper {
            position: relative

            .item {
                display: inline-block
                white-space: nowrap
                position: relative
                height: 16px

                font-family: Helvetica,Arial,sans-serif
                color: #aaa
                cursor: default 

                .item-wrapper {
                    display: flex
                    flex-direction: row
                    flex-wrap: nowrap     
                    align-items: flex-end

                    .fold-icon {
                        display: none
                        font-size: 14px
                        width: 10px
                        margin-right: 2px

                        cursor: pointer
                        text-align: center
                    }

                    .type-icon {
                        font-size: 16px
                        width: 16px
                        height: 16px
                        margin-right: 2px

                        &[hidden] {
                            display: none
                        }
                    }

                    img {
                        width: 16px
                        height: 16px
                    }

                    .name.no-name {
                        color: #6e6e6e
                    }
                }
            }

            fire-ui-text-input {                         
                position: absolute
                left: 0px
                width: 100%
                height: 16px
                min-height: 16px

                &[icon] {
                    left: 18px
                    width: calc(100% - 14px)
                }

                & /deep/ .input-area {                         
                    padding: 0px 2px
                }
            }
        }
    }

    &([foldable]) {
        margin-left: 0px // NOTE: will be setup in editor.styl

        .wrapper {
            .input-wrapper {
                .item {
                    .item-wrapper {
                        .fold-icon {
                            display: inline-block
                        }
                    }
                }

                fire-ui-text-input {                         
                    left: 12px
                    width: 100%

                    &[icon] {
                        left: 30px
                        width: calc(100% - 30px)
                    }
                }
            }
        }
    }
}
