:host {
    display: block

    font-size: 12px
    margin-left: 0px // NOTE: will be setup in editor.styl
    margin-top: 1px
}

:host([folded]) #content {
    display: none
}

#bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 16px;
}

:host([selected]) #bar {
    background-color: #555
}

#wrapper {
    position: relative

    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: flex-end

    white-space: nowrap
    height: 16px

    font-family: Helvetica,Arial,sans-serif
    color: #aaa
    cursor: default
}

#foldIcon {
    display: inline-block
    font-size: 14px
    width: 10px
    margin-right: 2px

    visibility: hidden
    cursor: pointer
    text-align: center
}

:host([foldable]) #foldIcon {
    visibility: visible
}

#typeIcon {
    font-size: 16px
    width: 16px
    height: 16px
    margin-right: 2px

    &[hidden] {
        display: none
    }

    img {
        width: 16px
        height: 16px
    }
}

#name.no-name {
    color: #6e6e6e
}

#content {
    display: block
}
