color-outter-border = #555
color-outter-border-focus = #0c70a6
color-inner-border = black
color-bg = #232323
color-input = #aaa
color-unit = #ddd
color-button = #474747

:host {
    display: flex
    position: relative

    box-sizing: border-box
    min-height: 21px
    width: 120px
    min-width: 60px
    border: 1px solid color-outter-border

    background: color-bg

    &(:hover) {
        border: 1px solid color-outter-border + 30%
    }

    &([focused]) {
        border: 1px solid color-outter-border-focus
    }

    .border {
        border: 1px solid color-inner-border
        width: 100%
    }

    .input-area {
        display: block
        padding: 2px 4px
        border: 0
        margin: 0
        font-size: 12px
        width: 100%
        white-space: nowrap

        font-family: Helvetica,Arial,sans-serif
        background: transparent
        color: color-input

        pointer-events: auto
        user-select: auto
        cursor: auto
        resize: none

        &::-webkit-input-placeholder {
            font-style: italic
            color: #666
            text-shadow: none
        }

        &:focus {
            outline: none
        }

        // &::-webkit-resizer {
        //     border: 1px solid rgba(255,0,0,1)
        // }

        &::-webkit-scrollbar {
            height: 5px
            width: 5px
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(255,255,255,0.3)
        }
        &::-webkit-scrollbar-track {
            // background-clip: padding-box
            background-color: rgba(255,255,255,0.1)
        }
        &::-webkit-scrollbar-corner {
            background-color: #171717
        }
        &::-webkit-scrollbar-button {
            display: none
        }
    }
}

color-bg-disabled = #3a3a3a

:host-context([disabled]), :host([disabled]) {
    * {
        pointer-events: none
    }

    background: color-bg-disabled

    .input-area {
        color: color-input - 50%
    }
}
