:host {
    display: block
}

#focus {
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center

    margin-top: 5px
    margin-bottom: 5px
    min-height: 22px
}

[flex-self-start] {
    margin-top: 5px
}

#field {
    margin-left: 5px
}

:host-context([disabled]), :host([disabled]) {
    * {
        pointer-events: none
    }
}
