user-select() {
    -webkit-user-select: arguments
    user-select: arguments
}

* {
    // box-sizing: border-box

    /* pointer-events: none */
    /* cursor: default */

    user-select: none

    // &:focus {
    //     outline: 0
    // }
}

[flex-row] {
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center
}

[flex-col] {
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: center
}

[flex-stretch] {
    align-items: stretch
}

[flex-self-start] {
    align-self: flex-start
}

[flex-self-end] {
    align-self: flex-end
}

// for toolbar which wants to have left and right align:
// <toolbar flex-between>
//     <align-left></align-left>
//     <align-right></align-right>
// </toolbar>
[justify-between] {
    justify-content: space-between
}
[justify-start] {
    justify-content: flex-start
}
[justify-end] {
    justify-content: flex-end
}

[fit] {
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
}

[flex-auto] {
    flex: auto
}

[flex-1] {
    flex: 1 1 60px
}

[flex-2] {
    flex: 2 2 60px
}

[flex-3] {
    flex: 3 3 60px
}

[flex-4] {
    flex: 4 4 60px
}

[flex-5] {
    flex: 5 5 60px
}

[flex-6] {
    flex: 6 6 60px
}

[flex-7] {
    flex: 7 7 60px
}

[flex-8] {
    flex: 8 8 60px
}

[flex-9] {
    flex: 9 9 60px
}

[flex-10] {
    flex: 10 10 60px
}

[flex-11] {
    flex: 11 11 60px
}

[flex-12] {
    flex: 12 12 60px
}
