* {
    font-family: Arial
    box-sizing: border-box

    /* pointer-events: none */
    cursor: default     
    user-select: none

    &:focus {
        outline: 0
    }
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

