body /deep/ {
    .fa {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .fa-check:before {
        content: "\f00c";
    }

    .fa-caret-down:before {
        content: "\f0d7";
    }

    .fa-caret-up:before {
        content: "\f0d8";
    }

    .fa-caret-left:before {
      content: "\f0d9";
    }

    .fa-caret-right:before {
      content: "\f0da";
    }

    .fa-circle-o:before {
      content: "\f10c";
    }

    .fa-circle-thin:before {
      content: "\f1db";
    }

    .fa-bars:before {
        content: "\f0c9";
    }

    .fa-times:before {
        content: "\f00d";
    }

    .fa-times-circle:before {
        content: "\f057";
    }

    .flex-row {
        display: flex
        flex-direction: row
        flex-wrap: nowrap     
        align-items: center
    }

    .flex-col {
        display: flex
        flex-direction: column
        flex-wrap: nowrap     
        align-items: center
    }

    .flex-1 {
        flex: 1 1 60px
    }

    .flex-2 {
        flex: 2 2 60px
    }

    .flex-3 {
        flex: 3 3 60px
    }

    .flex-align-self-start {
        align-self: flex-start
        margin-top: 5px
    }
}
