html /deep/ {
    @import "common"

    ::-webkit-scrollbar {
        height: 5px
        width: 5px
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.3)
    }
    ::-webkit-scrollbar-track {
        // background-clip: padding-box
        background-color: rgba(255,255,255,0.1)
    }
    ::-webkit-scrollbar-corner {
        background-color: #171717
    }
    ::-webkit-scrollbar-button {
        display: none
    }

    fire-ui-tab.active + fire-ui-tab /deep/ span.left-tab-border {
        display: inline-block
        border-left: 1px solid #212121
        height: 20px
    }

    .fa {
        display: inline-block
        font-family: FontAwesome
        font-style: normal
        font-weight: normal
        line-height: 1
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
    }

    .fa-share:before {
        content: "\f064";
    }

    .fa-check:before {
        content: "\f00c"
    }

    .fa-close:before {
        content: "\f00d"
    }

    .fa-caret-down:before {
        content: "\f0d7"
    }

    .fa-caret-up:before {
        content: "\f0d8"
    }

    .fa-caret-left:before {
      content: "\f0d9"
    }

    .fa-caret-right:before {
      content: "\f0da"
    }

    .fa-circle-o:before {
      content: "\f10c"
    }

    .fa-circle-thin:before {
      content: "\f1db"
    }

    .fa-bars:before {
        content: "\f0c9"
    }

    .fa-plus:before {
        content: "\f067"
    }

    .fa-times-circle:before {
        content: "\f057"
    }

    .fa-info:before {
        content: "\f129"
    }

    .fa-warning:before {
        content: "\f071"
    }

    .fa-play:before {
        content: "\f04b"
    }

    .fa-pause:before {
        content: "\f04c"
    }

    .fa-step-forward:before {
      content: "\f051"
    }

    .fa-database:before {
        content: "\f1c0"
    }

    .fa-folder:before {
        content: "\f07b"
    }

    .fa-folder-open:before {
        content: "\f07c"
    }

    .fa-file-image-o:before {
        content: "\f1c5"
    }

    .fa-cube:before {
        content: "\f1b2"
    }

    .fa-image:before {
        content: "\f03e"
    }

    .fa-share-square-o:before {
        content: "\f045"
    }

    .fa-search:before {
        content: "\f002"
    }

    .fa-arrows:before {
        content: "\f047"
    }

    .fa-arrows-alt:before {
        content: "\f0b2"
    }

    .fa-expand:before {
        content: "\f065"
    }

    .fa-rotate-left:before {
        content: "\f0e2"
    }

    .fa-rotate-right:before {
        content: "\f01e"
    }

    .fa-gear:before {
        content: "\f013"
    }

    .fa-question-circle:before {
        content: "\f059"
    }

    .fa-th-list:before {
        content: "\f00b"
    }

    .fa-th:before {
        content: "\f00a"
    }

    .fa-ban:before {
        content: "\f05e"
    }

    .fa-filter:before {
        content: "\f0b0"
    }

    .fa-eye:before {
        content: "\f06e"
    }

    .fa-eye-slash:before {
        content: "\f070"
    }

    .fa-file-o:before {
        content: "\f016"
    }

    .fa-question-circle:before {
        content: "\f059"
    }

    .fa-refresh:before {
        content: "\f021"
    }

    .fa-stop:before {
        content: "\f04d"
    }

    .fa-volume-off:before {
        content: "\f026"
    }

    .fa-volume-down:before {
        content: "\f027"
    }

    .fa-volume-up:before {
        content: "\f028"
    }

    .fa-download:before {
        content: "\f019"
    }

    .fa-area-chart:before {
        content: "\f1fe"
    }

    .fa-circle:before {
        content: "\f111"
    }
}
