:host {
    display: inline-block
    font-size: 12px
    white-space: nowrap

    overflow: hidden
    font-family: Helvetica,Arial,sans-serif
    cursor: default 
    color: #ddd
    text-shadow: 1px 1px 0 #000
    text-align: left

    &([focused]) {
        color: #00a6ff
    }
}
