:host {
    display: block

    font-size: 12px
    min-height: 20px

    overflow-x: hidden
    overflow-y: auto
    border: 1px solid #171717
    position: relative

    box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2)
    background: #333

    .content {
        outline: 0
    }
}
