color-outter-border = #555
color-outter-border-focus = #0c70a6
color-inner-border = black
color-bg = #232323
color-browse = #aaa
color-asset-name = #999
color-type = #770
color-highlight-valid = green
color-highlight-invalid = red
color-bg-disabled = #3a3a3a

:host {
    display: flex
    position: relative

    box-sizing: border-box
    width: 120px
    min-width: 50px
}

.wrapper {
    width: 100%
    cursor: pointer

    &:focus {
        outline: none
    }
}

.border {
    border: 1px solid color-outter-border

    color: color-asset-name
    background: color-bg

    cursor: pointer
    & * {
        cursor: pointer
    }

    &:hover {
        border: 1px solid color-outter-border + 30%
    }
}

:host([focused]) .border {
    border: 1px solid color-outter-border-focus
}

.content {
    display: block
    padding: 3px 4px
    font-size: 12px
    font-weight: bold
    border: 1px solid color-inner-border

    white-space: nowrap
    overflow: hidden
}

span.null {
    color: #900
}

:host([highlighted]) .border {
    border: 1px solid color-highlight-valid
    background: color-highlight-valid - 50%

    .content {
        border: 1px solid color-highlight-valid
    }
}

:host([highlighted][invalid]) .border {
    border: 1px solid color-highlight-invalid
    background: color-highlight-invalid - 50%

    .content {
        border: 1px solid color-highlight-invalid
    }
}

.type {
    font-size: 10px
    color: color-type
}

.icon {
    margin-left: 5px
    font-size: 14px

    color: color-browse

    &:hover {
        color: color-browse + 50%
    }

    &:active {
        color: color-browse - 30%
    }
}

:host-context([disabled]), :host([disabled]) {
    * {
        pointer-events: none
    }

    .border {
        color: color-asset-name - 50%
        background: color-bg-disabled
    }

    .type {
        color: color-asset-name - 50%
    }

    .icon {
        color: color-browse - 50%
    }
}
